*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

.dark{
    background-color: #292929;
    .navbar{
        img{
            display: block;
            width: 150px;
            background-color: #fff;
            border-radius: 10px;
            padding: 5px;
        }
        .navbar-collapse{
            background-color: #f9f9f9;
            a{
                color: #000;
            }
            a:hover{
                color: #FFC107;
            }
        }
        .theme-toggle{
            button{
                background-color: #fff !important;
            }
        }
        .navbar-toggler{
            background-color: #FFC107;

        }

    }
    .header{
        background: none;
        color: #f9f9f9;
        h1{
            color: #f9f9f9 !important;
        }
    }
    .homeexplore{
        .explore-header{
            p{
                color: #f9f9f9 !important;
            }

        }
        .explore-main-item-top,.explore-main-item-bottom{
            background-color: #f9f9f9 !important;
            color: #000;
        }
        .explore-main-item-top:hover,
        .explore-main-item-bottom:hover{
            background-color: #FFC107 !important;
            color: #000;
        }


    }
    .home-explore{
        h2, p{
            color: #f9f9f9 !important;
        }
        img{
            background-color: #292929;
        }
        
    }
    .styledfurniture{
        .styledfurniture-txt{
            h2, p{
                color: #f9f9f9 !important;

            }
        }
    }
    .woodenfurniture{
        .woodenfurniture-main{
            color: #f9f9f9;
        }
    }
    .popular-furniture{
        .popular-furniture-header{
            color: #f9f9f9;
        }
    }
    .homebrands{
        h2,p{color: #f9f9f9;}
        .homebrands-body{
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 15px;
        }
    }
    .homefooter{
        .homefooter-body-item{
            background-color: #f9f9f970;
        }
        img{
            background-color: #fff;
            border-radius: 10px;
            padding: 5px;
        }
        p,a, h2{
            color: #f9f9f9
            ;
        }
    }
    .mainproducts{
        input{
            color: #f9f9f9;
        }
    }
    .abouthistory{
        a,h2, p{
            color: #f9f9f9;
        }
    }
    .aboutus-txt{
        a,h4,h2, p{
            color: #f9f9f9;
        }
    }
    .blog-container{
        p{
            color: #f9f9f9;
        }
    }
    .popular-furniture{
        h3{
            color: #f9f9f9;
        }
    }
    .checkout-container {
        background-color: #212121c0;
        h3,h4, button{
            color: #f9f9f9 !important;
        }
        .checkout-summary{
            background-color: #212121c0;
            h2, p, li{
                color: #f9f9f9;
            }
        }
    }
    .success{
        h1, p{
            color: #f9f9f9;
        }
    }
    .faqpage{
        h1{
            color: #f9f9f9;
        }
    }
    .aboutus-img-experience{
        h2{
            color: #000 !important;
        }
    }
}
.dashboard-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #1a1a1a;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

    h1 {
      color: #FFC107;
      text-align: center;
    }

    p {
      font-size: 16px;
      margin: 10px 0;
      color: #fff;
    }

    button {
      background-color: #FFC107;
      border: none;
      color: #000;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s;

      &:hover {
        background-color: #e0a800;
      }
    }
  }

.navbar {
    
    position: sticky;
    width: 100%;
    height: 93px;
    padding: 0 8.5% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99999999;
    
    .navbar-nav{
        display: flex;
        align-items: center;

    }
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .burger {
        display: none;
        flex-direction: column;
        cursor: pointer;
      }
      
      .burger div {
        width: 25px;
        height: 3px;
        margin: 4px 0;
      }
        img{
            display: block;
            width: 150px;
        }
        .navbar-collapse{
            font-size: 18px;
            padding: 8px 25px 8px 25px;  
            background-color: #0e1d3d;
            display: flex;
            align-items: center;
            list-style: none;
            height: 56px;
            border-radius: 5px;
            a{
                text-decoration: none;
                padding: 10px 20px;
                color: #fff;    
            }
            a:hover{
                border-bottom: 1px solid #FFC107;
                color: #ffffff;
                transition: all 0.2s ease-in-out;
            }
            a:focus{
                outline: none;
            }
            
        }
        .navbar-cart-item{
            display: flex;
            align-items: center;
            position: relative;
            .language-toggle{
                button{
                    font-size: 25px;
                    display: flex;
                    padding: 0 7px;
                    align-items: center;
                    justify-content: center;
                    background-color:  #FFC107;
                    border-radius: 5px;
                    margin-left: 20px;
                    height: 100%;
                    color: #000;
                    border: none;
                }
            }
            .theme-toggle{
                button{
                    font-size: 25px;
                    display: flex;
                    padding: 0 7px;
                    align-items: center;
                    justify-content: center;
                    background-color:  #0E1C3C;
                    border-radius: 5px;
                    margin-left: 20px;
                    height: 100%;
                    color: #000;
                    border: none;
                }
            }
            .navbar-register, .navbar-wishlist, .navbar-cart{
                font-size: 25px;
                display: flex;
                padding: 10px;
                align-items: center;
                justify-content: center;
                background-color:  #FFC107;
                border-radius: 5px;
                margin-left: 20px;
                height: 90%;
                color: #000;
                cursor: pointer;
                a{
                    color: #000;
                    height: 34px;
                }
                a:active{
                    color: #000000;
                }
                .MuiBadge-badge{
                    background-color: #000000;
                    color: #FFC107;
                    padding: 5px;
                    margin-top: -20px;
                }
                
            }
            .navbar-wishlist, .navbar-cart{
                svg{
                    margin-top: -20px;
                }
            }
        }

    
}

//Homeheader
.header{
    background-image: url("../Images/HomePage/header-background.png");
    background-size: cover;
    color: #0e1d3d;
    .home-header{
        height: 125vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .home-header-img{
            padding-top:10% ;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
        }
        .home-header-main{
            padding-top:10%;
            padding-left: 8.5%;
            h1{
                font-size: 48px;
                color: #0E1C3C;
                width: 60%;
            }
            h2{
                font-size: 110px;
                color: #FFC107;
            }
            p{
                width: 65%;
                font-size: 18px;
            }
            .home-header-main-image{
                margin-top: 10%;
                margin-bottom: 20px;
                display: flex;
                gap: 20px;
                
                img{
                    width: 105px;
                    border-radius: 10px;
                }
            }
        }

}
}

//HomeExplore
.homeexplore{
    color: #0e1d3d;
    padding: 5% 8.5%;
    .explore-header{
        font-size: 32px;
        font-weight: 700;
        width: 25%;
        span{
            color: #FFC107;
        }
    }
    .explore-main{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
       .explore-main-item{
        display: flex;
        justify-content: space-between;
        .explore-main-item-top,
        .explore-main-item-bottom{
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            background-color: rgba(14, 28, 60, .1);
            padding: 2.7% 5%;
            border-radius: 10px;
            text-decoration: none;
            width: 17%;
            a{
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                flex-direction: column;
                color: #000;
                text-decoration: none;
            }
            p{
                font-size: 18px;
                font-family: "Jost", sans-serif;
                letter-spacing: 4px;
                color: #0e1c3c;
                font-weight: 400;
                text-decoration: none;
                text-align: center;
            }
        }
        .explore-main-item-top:hover,
        .explore-main-item-bottom:hover{
            background-color: #FFC107;
            transition: all .3s ease-in-out;
        }

       }
    }
}
//Home Explore Collection
.home-explore{
    display: flex;
    padding: 5% 8.5%;
    color: #0e1d3d;

    width: 100%;
    .explore-main{
        width: 50%;
        h2{
            font-size: 64px;
            span{
                color: #FFC107;
            }
        }
        p{
            font-size: 22px;            
        }
        button{
            margin-top: 40px;
            padding: 10px 35px;
            border-radius: 8px;
            border: none;
            background-color: #FFC107;
            font-size: 17px;
            font-weight: 400;
        }
    }
    .explore-img{
        width: 50%;
        img{
            border-radius: 18px;
            width: 85%;
        }
    }
}

.styledfurniture{
    display: flex;
    padding: 5% 8.5%;
    color: #0e1d3d;
    .styledfurniture-txt{
        width: 33.3%;
        h2{
            width: 70%;
            font-size: 64px;
            line-height: 110%;
            span{
                color: #FFC107;
            }
            margin: 30px 0;
        }
        p{
            font-size: 22px;
        }
        &-btn{
            margin-top: 20%;
            padding: 10px 35px;
            border-radius: 8px;
            border: none;
            background-color: #FFC107;
            font-size: 17px;
            font-weight: 400;
            cursor: pointer;
        }
        &-btn:hover{
            background-color: #0e1d3d;
            color: #fff;
            transition: all 0.4s ease-in-out;
        }
    }
    &-products{
        width: 66.7%;
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        align-items: center;
        justify-content: center;
            li{
                position: relative;
                width: 49%;
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 40px;
            
                h2{
                    display: flex;
                    align-items: center;  
                    justify-content: center;
                    background-color: rgb(255, 255, 255);
                    border-radius: 10px;
                    font-size: 20px !important;
                    height: 60px;
                    width: 70%;
                    margin: -30px;
                    z-index: 9999;
                    box-shadow: 10px -10px 80px #aaaaaa;            
                }
            }
            img{
                width: 93%;
                margin-left: 10px;
                border-radius: 20px;
            }
            .styledfurniture-products-price{
                position: absolute;
                z-index: 9999;
                top: 25px;
                right: 40px;
                font-weight: 700;
                background-color: #fff;
                padding: 10px 20px;
                border-radius: 10px;
                color: #0e1d3d;
                box-shadow: 5px 5px 10px #00000050;
                .styledfurniture-products-price-sale{
                    p{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 !important;
                        font-size: 13px;
                        font-weight: 700;
                        color: #00000092;
                        height: 15px;
                    }

                }
            }
    }
    
}
.woodenfurniture{
    display: flex;
    padding: 5% 8.5%;
    .woodenfurniture-img{
        width: 70%;
        img{
            border-radius: 18px;
            width: 92.68%;
        }
    }
    .woodenfurniture-main{
        width: 30%;
        h2{
            line-height: 110%;
            font-size: 64px;
        }
        button{
            margin-top: 20%;
            padding: 10px 35px;
            border-radius: 8px;
            border: none;
            background-color: #FFC107;
            font-size: 17px;
            font-weight: 400;
        }
        button:hover{
            background-color: #0e1d3d;
            color: #fff;
            transition: all 0.4s ease-in-out;
        }
    }
}
.popular-furniture{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3{
        font-size: 36px;
        span{
            color: #FFC107;
        }
    }
    
}
.product-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}   
    .product-item {
        width: 28%;
        margin: 20px 0;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        .product-item-cost{
            position: absolute;
            z-index: 9999;
            top: 20px;
            right: 40px;
            font-weight: 700;
            background-color: #fff;
            padding: 10px 20px;
            border-radius: 10px;
            color: #0e1d3d;
            box-shadow: 5px 5px 10px #00000050;
    }
        h2{
            display: flex;
            align-items: center;  
            justify-content: center;
            background-color: rgb(255, 255, 255);
            border-radius: 10px;
            height: 60px;
            font-size: 20px;
            width: 70%;
            margin: -30px;
            z-index: 9999;
            box-shadow: 10px -10px 80px #aaaaaa;            
        }
        .product-icons{
            display: none;
        }
        .product-item-discountpercentage{
            position: absolute;
            z-index: 9999;
            top: 30px;
            left: 50px;
            font-size: 13px;
            font-weight: 400;
            background-color: #0e1d3d;            ;
            padding: 8px 8px;
            border-radius: 10px;
            color: #ffffff;
            box-shadow: 5px 5px 10px #00000050;
        }
        .product-image {
            position: relative;
            img {
                width: 100%;
                height: auto;
                border-radius: 20px;
            }
        .hover-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
            opacity: 0;
            transition: opacity 0.4s ease;
  
        &:hover {
            opacity: 1;
                }
        }
      }
  
      .stars {
            position: absolute;
            z-index: 9999;
            top: 70px;
            right: 45px;
            font-size: 20px;
            color: gold;
  
        .star {
            color: lightgray;
  
          &.filled {
            color: gold;
          }
        }
      }
    }
    .product-item-buy-btn{
        display: none;
    }
    .product-item:hover{
        .product-icons{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            position: absolute;
            background-color: #FFC107;
            z-index: 9999;
            width: 50px;
            color: #0E1C3C;
            padding: 10px;
            border-radius: 30px;
        }
        transition: all 0.8s ease;
        .product-item-buy-btn{
            
            display: block;
            position: absolute;
            bottom: 25%;
            background-color: #0E1C3C;
            color: #fff;
            border: none;
            padding: 10px 40px;
            border-radius: 20px;
            font-size: 16px;
            display: flex;
            align-items: center;
            svg{
                margin-right: 10px;
            }  
        }
    }
  
.homebrands{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 8.5%;

    .homebrands-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 5%;
        h2{
            font-size: 36px;
            span{
                color: #FFC107;
            }
        }
    }
    img{
        opacity: 0.5;
        width: 20%;
        border-left: 1px solid #000;
        border-right: 1px solid #000;
    }
    img:hover{
        opacity: 1;
        transition: all 0.5s ease-in-out; 
    }
}

.homefooter{
    padding: 5% 8.5% 0 8.5%;
    p{
        margin-bottom: 0!important;
        text-decoration: none;
    }
    .homefooter-header{
        display: flex;
        justify-content: space-between;
        height: 70px;
        border-bottom: 2px solid #dfdfdf;
        &-img{
            display: flex;
            align-items: center;
            width: 50%;
            img{
                height: 80%;
            }
        }
        &-menu{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: end    ;
            gap: 20px;
            .homefooter-header-link{
                text-decoration: none;
                color: #0E1C3C;
                font-size: 18px;
                &:hover{
                    color: #FFC107;
                }
            }
            &-logo{
                display: flex;
                gap: 10px;
                &-item{
                    padding: 8px ;
                    background-color: #FFC107;
                    color: #0E1C3C;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }
            }
        }
    }
    .homefooter-body{
        display: flex;
        gap: 10%;
        &-item{
            margin-top: 30px;
            flex-direction: column;
            display: flex;
            justify-content: center;
            width: 50%;
            background-color: rgba(14, 28, 60, 0.1);
            height: 200px;
            border-radius: 10px;
            text-decoration: none;
            color: #000;
            h2{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 24px;
                padding: 12px 2px;
                background-color: hsl(45, 100%, 51%);
                color: #0E1C3C;
                width: 37.1%;
                margin-left: -20px;
                border-radius: 10px;
                font-weight: 400;
                font-size: 20px;
                margin-bottom: 10px;
            }
            p{
                margin-left: 50px;
                margin-top: 5px;
            }
        }
    }
}
.card {
    border-radius: 10px;
    box-shadow: 0 0 15pimport Register from './Register';
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}


.mainproducts{
    display: flex;
    flex-direction: column;
    padding: 10% 8.5%;
    color: #0e1d3d;
    input{
        padding: 10px;
        border: none;
        border-bottom: 1px solid #0E1C3C;
        background-color: transparent;
        outline: none;
    }
    .category-buttons{
        display: flex;
        gap: 10px;
        margin-top: 20px;
        button{
            padding: 10px 20px;
            border: none;
            background-color: #FFC107;
            color: #0E1C3C;
            border-radius: 10px;
            cursor: pointer;
        }
        .reset-button{
            background-color: #ff9d00;      
        }
    }
    &-products{
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        align-items: center;
        justify-content: center;
            li{
                    position: relative;
                    width: 30%;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-top: 40px;
            
                    h2{
                    display: flex;
                    align-items: center;  
                    justify-content: center;
                    background-color: rgb(255, 255, 255);
                    border-radius: 10px;
                    height: 60px;
                    width: 70%;
                    margin: -30px;
                    z-index: 9999;
                    box-shadow: 10px -10px 80px #aaaaaa;            }
            }
            img{
                width: 93%;
                margin-left: 10px;
                border-radius: 20px;
            }
            .mainproducts-products-price{
                position: absolute;
                z-index: 9999;
                top: 20px;
                right: 40px;
                font-weight: 700;
                background-color: #fff;
                padding: 10px 20px;
                border-radius: 10px;
                color: #0e1d3d;
                box-shadow: 5px 5px 10px #00000050;
                .styledfurniture-products-price-sale{
                    p{
                        font-size: 13px;
                        font-weight: 700;
                        color: #00000092;
                    }

                }
            }
    }
    
}

.admin-panel {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    h2, h3 {
        color: #333;
        text-align: center;
    }

    .form-group {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin-bottom: 15px;

        input {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            transition: border-color 0.3s;

            &:focus {
                border-color: #007bff;
                outline: none;
            }
        }

        button {
            padding: 10px 15px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: darken(#007bff, 10%);
            }

            &:disabled {
                background-color: lighten(#007bff, 20%);
            }
        }
    }

    .error-message {
        color: red;
        text-align: center;
    }

    .success-message {
        color: green;
        text-align: center;
    }

    .product-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;

        th, td {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: left;
            transition: background-color 0.3s;

            &:hover {
                background-color: #f1f1f1;
            }
        }

        th {
            background-color: #007bff;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        img {
            width: 50px; // Şəkil genişliyi
            height: auto; // Hündürlük avtomatik
            border-radius: 4px;
        }
    }
}

.cart-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  
    h3 {
      text-align: center;
      color: #333;
      margin-bottom: 20px;
    }
  
    .cart-table {
      width: 100%;
      border-collapse: collapse;
  
      th, td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
  
      th {
        background-color: #FFC107;
        color: white;
        font-weight: bold;
      }
  
      tr:hover {
        background-color: #f1f1f1;
      }
  
      .cart-item-image img {
        border-radius: 4px;
        max-width: 50px;
        max-height: 50px;
      }
  
      .cart-item-cost {
        display: flex;
        align-items: center;
  
        span {
          margin-left: 10px;
        }
      }
  
      button {
        background-color: #e74c3c;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 8px 12px;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #c0392b;
        }
      }
    }
  
    p {
      text-align: center;
      color: #777;
    }
  }
  
  .checkout-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  
    .checkout-form {
      flex: 1;
      margin-right: 20px;
  
      h3 {
        margin-bottom: 15px;
        color: #333;
      }
  
      input,
      textarea {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
  
        &:focus {
          border-color: #007bff;
          outline: none;
        }
      }
  
      h4 {
        margin-top: 20px;
        color: #555;
      }
      button{
        background-color: #FFC107;
        border: none;
        padding: 10px;
        border-radius: 10px;
    }
    }
  
    .checkout-summary {
      flex: 1;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  
      h3 {
        margin-bottom: 10px;
        color: #333;
      }
  
      p {
        font-size: 18px;
        margin: 10px 0;
      }
  
      h4 {
        margin: 10px 0;
        color: #555;
      }
  
      ul {
        list-style: none;
        padding: 0;
  
        li {
          margin: 5px 0;
        }
      }
  
      .checkout-button {
        padding: 10px 15px;
        background-color: #28a745;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
  
        &:hover {
          background-color: #218838;
        }
      }
    }
  }
.success{
    button{
        background-color: #FFC107;
        border: none;
    }
}
.login{
    background-image: url('https://images8.alphacoders.com/117/1174099.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;



}
  .login-container {
    width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #00000053;
    h2 {
        text-align: center;
        color: #ffffff;
    }

    .form-group {
        margin-bottom: 15px;

        label {
            display: block;
            margin-bottom: 5px;
            color: #ffffff;
        }

        input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            font-size: 16px;
            background: transparent;
            border: none;
            outline: none;
            border-bottom: 1px solid #ffffff;

            &:focus {
                border-color: #FFC107;
                outline: none;
            }
        }
    }

    .error-message {
        color: red;
        text-align: center;
        margin: 10px 0;
    }

    .submit-button {
        width: 100%;
        padding: 10px;
        background-color: #FFC107;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;

        &:hover {
            background-color: #45a049;
        }

        &:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }
    }

    .register-prompt {
        text-align: center;
        margin-top: 15px;
        color: #fff;
        .register-button {
            background: none;
            border: none;
            color: #FFC107;
            cursor: pointer;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}
.register{
    background-image: url('https://images8.alphacoders.com/117/1174099.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.register-container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #00000053;

    h2 {
        text-align: center;
        color: #ffffff;
    }
    
    .rememberme{
        display: flex;
        align-items: center;
        input{
            width: 10%;
            height: 15px;
        }
        label{
            width: 30%;
            flex-wrap: nowrap;
        }
    }
    div {
        margin-bottom: 15px;

        label {
            margin-bottom: 5px;
            color: #ffffff;
        }
        input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            font-size: 16px;
            background: transparent;
            border: none;
            outline: none;
            border-bottom: 1px solid #ffffff;

            &:focus {
                border-color: #FFC107;
                outline: none;
            }
        }
    }

    .error-message {
        color: red;
        text-align: center;
        margin: 10px 0;
    }

    button {
        width: 100%;
        padding: 10px;
        background-color: #FFC107;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;



        &:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }
    }

    p {
        text-align: center;
        color: #fff;
    }
}

.product-detail {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgb(0, 0, 0);
    background-color: #fff;

    h2 {
        font-size: 24px;
        color: #333;
    }

    .product-image {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    p {
        font-size: 16px;
        color: #000000;
        font-weight: 600;

        &.discount-price {
            color: red;
            text-decoration: line-through;
        }

        &.discount-percentage {
            color: green;
            font-weight: bold;
        }
    }

    .add-to-cart-btn,
    .wishlist-btn {
        display: inline-block;
        padding: 10px 15px;
        margin-top: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;

        &:hover {
            opacity: 0.9;
        }
    }

    .add-to-cart-btn {
        background-color: #FFC107;
        color: white;

        &:hover {
            background-color: #ffc1075b;
            color: #00000094;
        }
    }

    .wishlist-btn {
        background-color: gray;
        color: white;

        &:hover {
            background-color: #555;
        }
    }

    .loading-spinner {
        text-align: center;
        font-size: 18px;
        color: #007bff;
    }

    .error-message {
        color: red;
        text-align: center;
    }
}



.aboutus{
    display: flex;
    justify-content: space-between;
    padding: 0% 8.5%;
    gap: 20px;
    color: #0e1c3c;
    .aboutus-txt{
        width: 50%;
        h2{
            font-size: 42px;
            span{
                color: #FFC107;
            }
        }
        p{
            font-size: 18px;
        }
        .aboutus-txt-footer{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 20px;
            h4{
                display: flex;
                align-items: center;
                font-weight: 350;
                font-family: "Oswald", sans-serif !important;
                svg{
                    height: 40px;
                    width: 40px;
                    padding: 5px;
                    margin: 10px;
                    background-color: #FFC107;
                    border-radius: 8px;
                    
                }
            }
        }
    }
    .aboutus-img {
        position: relative; 
        width: 50%; 
        height: auto; 
        border-radius: 8px;
    }
    
    .aboutus-img-1,
    .aboutus-img-1-hover {
        z-index: -999;
        position: absolute; 
        top: 0;
        right: 0;
        width: 80%; 
        height: 100%;
        object-fit: cover;
        transition: opacity .2s ease-in-out; 
        img{
            width: 100%;
            border-radius: 15px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
    
    .aboutus-img-1 {
        opacity: 1; 
    }
    
    .aboutus-img-1-hover {
        opacity: 0;
    }
    
    .aboutus-img:hover .aboutus-img-1 {
        opacity: 0;             
    }
    
    .aboutus-img:hover .aboutus-img-1-hover {
        opacity: 1; 
    }
    .aboutus-img-experience{
        position: absolute;
        top: 60%; 
        right: 10%;  
        background-color: #fff;
        width: 60%;
        height: 30%;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        h2{
            font-size: 44px;
            span{
                color: #FFC107;
            }
        }
        p{
            font-size: 32px;
        }

    }
}

.abouthistory{
    display: flex;
    justify-content: space-between;
    padding: 5% 8.5%;
    gap: 20px;
    color: #0e1c3c;
    .abouthistory-img{
        width: 45%;
        img{
            width: 100%;
            border-radius: 15px;
        }
    }
    .abouthistory-txt{
        width: 45%;
        h2{
            font-size: 42px;
            span{
                color: #FFC107;
            }
        }
        .abouthistory-txt-main{
            font-size: 18px;
            margin-top: 20px;
        }
    }

}
.admin-panel{
    button{
        background-color: #FFC107 !important;
    }
}
.product-table{
    th{
        background-color: #FFC107 !important;
    }
    button{
        width: 100%;
        border: none;
        background-color: #FFC107;
    }
    button:hover{
        width: 100%;
        border: none;
        background-color: #ffc1079d;
        border: 1px solid #000;
        transition: all 0.3s ease-in-out;
    }
}
.progressbar{
    span{
        background-color: #000;
        color: #fff;
        padding: 10px;
        border-radius: 100px;
    }
    .progressbar-main{
        border-radius: 10px;
        
    }
}
.abouthistory-progress-txt{
   p{ 
    margin-top: 30px !important;
}
}
.blog-container{
    padding: 5% 8.5%;
    .blog-post{
        width: 60%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 8px;
        margin-bottom: 30px;
        &-header{
            display: flex;
            justify-content: center;
            align-items: center;         
            margin: -20px 0 0 0;
            z-index: 999;
            h2{
                width: 90%;
                font-size: 24px;
                border-radius: 20px;
                margin-bottom: 10px;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #fff;
                font-weight: 700;
            }
        }
        p{
            font-size: 15px;
            line-height: 1.5;
            margin-bottom: 20px;
            span{
                color: #FFC107;
            }
        }
        img{
            width: 100%;
            height: auto;
            border-radius: 8px;
            z-index: -9999999
              }
    }
}
@media (min-width: 991px) and (max-width: 1220px) {
    .header{
        background: none;
    }
    .home-header-img{
        display: none;
    }
    .home-header-main-image{
        display: none;
    }
}

/* Tablet cihazlar için stil ayarları */
@media (min-width: 701px) and (max-width: 991px) {
    .header {
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
        .home-header-img{
            display: none;
        }
        .home-header-main-image{
            display: none;
        }
        .home-header-main{
            padding: 0% !important;
            .home-header-main-text{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h1{
                    text-align: center;
                }
                h2{
                    text-align: center;
                }
                p{
                    text-align: center;
                }
            }
        }
        img{
            display: none;
        }
    }
    .homeexplore{
        display: flex;
        flex-direction: column;
        align-items: center;
        .explore-header{
            width: 210px;
            p{
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: 5px;
            }
        }
        .explore-main{
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: row;
            .explore-main-item{
                width: 50%;
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 30px;
                .explore-main-item-top,
                .explore-main-item-bottom{
                    width: 40% !important;
                }
            }
        }
    }
    .home-explore{
        h2{
            font-size: 30px !important;
        }
        p{
            font-size: 16px !important;
        }
        .explore-main-btn{
            margin-top: 27px !important;
        }
    }
    .styledfurniture{
        display: flex;
        flex-direction: column;
        .styledfurniture-txt{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            text-align: center;
            h2{
                font-size: 30px !important;
            }
            p{
                font-size: 16px !important;
            }
            button{
                margin-top: 27px !important;
            }

        }
        .styledfurniture-products{
            display: flex;
            flex-direction: row !important;
            flex-wrap: wrap;
            width: 100%;
            .product-item{
                width: 60%;
                margin-bottom: 20px;
                img{
                    width: 100%;
                    height: auto;
                    border-radius: 8px;
                }
            }
            
        }
    }
    .woodenfurniture{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .woodenfurniture-main{
            width: 100%;
            text-align: center;
            button{
                margin-top: 27px;
            }
        }
    }
    .product-item{
        width: 45%;
    }

    .homefooter-body{
        display: flex;
        flex-direction: column;
        .homefooter-body-item{
            width: 100%;
            h2{
                margin-top: 20px;
                margin-bottom: 0;
            }
        }
    }
    
    .navbar{
        .navbar-toggler{
            color: #fff;
        }
        .show {
            display: flex; 
            background-color: #0E1C3C;
            height: 250px !important;
            .navbar-register, .navbar-wishlist, .navbar-cart{
                height: 20px;
            }
          }
        .navbar-links {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 60px;
            left: 0;
            background-color: white;
            width: 100%;
            z-index: 1;
          }
        
          .navbar-links.active {
            display: flex;
          }
        .navbar-cart-item{
            display: flex;
            flex-direction: column;
            gap: 10px;
            .navbar-register, .navbar-wishlist, .navbar-cart, .language-toggle {
                height: 37px;
                max-width: 80px !important;
            }
        }
    }

    .aboutus{
        display: flex;
        align-items: center; width: 100%;
        .aboutus-img{
            display: none;
        }
        .aboutus-txt{
            width: 100%;
        }
    }
    .abouthistory{
        .abouthistory-img{
            display: none;
        }
    }
    .mainproducts{
        .mainproducts-products{
            display: flex;
            flex-wrap: wrap;
            li{
                width: 60%;
            }
        }
    }
    .blog-container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .blog-post{
            width: 100%;    
        }
    }
    .checkout-container{
        display: flex;
        flex-direction: column;

    }
}

/* Mobil cihazlar için stil ayarları */
@media (max-width: 700px) {
    .header {
        margin-top: 30px;
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
        .home-header-img{
            display: none;
        }
        .home-header-main-image{
            display: none;
        }
        .home-header-main{
            padding: 0% !important;
            .home-header-main-text{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h1{
                    text-align: center;

                }
                h2{
                    text-align: center;
                    font-size: 40px !important;
                }
                p{
                    text-align: center;
                }
            }
        }
        img{
            display: none;
        }
    }
    .homeexplore{
        display: flex;
        flex-direction: column;
        align-items: center;
        .explore-header{
            width: 210px;
            p{
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: 5px;
            }
        }
        .explore-main{
            display: flex;
            flex-direction: column !important;
            align-items: center;
            justify-content: space-around;
            flex-direction: row;
            .explore-main-item{
                width: 100%;
                display: flex;
                align-items: center;
                
                flex-direction: column;
                gap: 30px;
                .explore-main-item-bottom,
                .explore-main-item-top{
                    width: 60%;
                }
            }
        }
    }
    .home-explore{
        display: flex;
        flex-direction: column;
        .explore-img{
            width: 100%;
            height: auto;
        }
        .explore-main{
            width: 100%;
        }
        h2{
            font-size: 30px !important;
        }
        p{
            font-size: 16px !important;
        }
        .explore-main-btn{
            margin-top: 27px !important;
        }
    }
    .styledfurniture{
        display: flex;
        flex-direction: column;
        .styledfurniture-txt{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            text-align: center;
            h2{
                font-size: 30px !important;
            }
            p{
                font-size: 16px !important;
            }
            button{
                margin-top: 27px !important;
            }

        }
        .styledfurniture-products{
            display: flex;
            flex-direction: row !important;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 0;
            width: 100%;
            .product-item{
                width: 100%;
                margin-bottom: 20px;
                img{
                    width: 100%;
                    height: auto;
                    border-radius: 8px;
                }
            }
            
        }
    }
    .woodenfurniture{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .woodenfurniture-main{
            width: 100%;
            text-align: center;
            button{
                margin-top: 27px;
            }
            h2{
                font-size: 45px;
                margin-top: 30px;
            }
        }
        .woodenfurniture-img{
            width: 100%;
            height: auto;
        }
    }
    .product-item{
        width: 100%;
    }

    .homefooter-header{
        display: flex;
        flex-direction: column;
        height: 150px !important;
        border-bottom: 0px solid #fff !important;
        .homefooter-header-menu{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        .homefooter-header-img{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .homefooter-body{
        display: flex;
        flex-direction: column;
        .homefooter-body-item{
            width: 100%;
            h2{
                margin-top: 20px;
                margin-bottom: 0;
            }
        }
    }
    
      .show {
        display: flex; 
        background-color: #0E1C3C;
        height: 250px !important;
        .navbar-register, .navbar-wishlist, .navbar-cart{
            height: 20px;
        }
      }
    .navbar-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: white;
        width: 100%;
        z-index: 1;
      }
    
      .navbar-links.active {
        display: flex;
      }
      .navbar-cart-item{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .navbar-register, .navbar-wishlist, .navbar-cart, .language-toggle {
            height: 34px !important;
        }
    }

    .aboutus{
        display: flex;
        align-items: center; width: 100%;
        .aboutus-img{
            display: none;
        }
        .aboutus-txt{
            width: 100%;
        }
    }
    .abouthistory{
        .abouthistory-img{
            display: none;
        }
        .abouthistory-txt{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .abouthistory-progress-txt{
            padding: 10%;
            max-width: 100%;
        }
    }
    .mainproducts{
        .mainproducts-products{
            display: flex;
            flex-wrap: wrap;
            li{
                width: 60%;
            }
        }
    }
    .blog-container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .blog-post{
            width: 100%;    
        }
    }
    .checkout-container{
        display: flex;
        flex-direction: column;

    }
}


